*,
*::before,
*::after {
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   text-decoration: none;

   &::selection {
      background-color: var(--Orange);
      color: var(--Black);
   }
}

body,
html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   width: 100%;
   overflow: hidden auto;
   background-color: var(--Black);
}

:root {
   /* Colors */
   --White: #d3dfee;
   --White_Light: #d3dfee80;
   --White_Dark: #53595e6e;
   --Orange: #f87612;
   --orange_Faded: #f1700e3b;
   --Black: #090909;
   --Black_Light: #0909098c;
}

@font-face {
   font-family: Aeonik_Medium;
   src: url(Font/Aeonik_Medium.ttf);
}
@font-face {
   font-family: Aeonik_Regular;
   src: url(Font/Aeonik_Regular.ttf);
}
@font-face {
   font-family: PP_Supply_Mono_Regular;
   src: url(Font/PP_Supply_Mono_Regular.ttf);
}
@font-face {
   font-family: PP_Supply_Mono_Semibold;
   src: url(Font/PP_Supply_Mono_Semibold.ttf);
}

#overlay {
   position: fixed;
   inset: 0;
   z-index: 99999999;
   mix-blend-mode: multiply;
   opacity: 0.12;
   pointer-events: none;
}

#wrapper {
   width: 100%;
   position: relative;
}

#wrapper_bg {
   pointer-events: none;
   position: absolute;
   inset: 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);

   & div:not(:last-child) {
      border-right: solid 0.005em var(--White_Dark);
   }
}

nav {
   position: fixed;
   inset: 0 0 auto 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1em clamp(1em, 4vw, 3em);
   background-color: var(--Black_Light);
   backdrop-filter: blur(15px);
   z-index: 9;
   user-select: none;
   border-bottom: solid 0.005em var(--White_Dark);
}

.nav_frame_links {
   background-color: transparent;
   padding: clamp(0.5em, 1vw, 0.75em) clamp(0.8em, 3vw, 2em);
   position: relative;
   border-radius: 0.2em;
   transition: 200ms ease-in-out;
   transition-property: background-color, color;

   & p {
      color: var(--White);
      font-family: PP_Supply_Mono_Regular, Arial, Helvetica, sans-serif;
      font-size: clamp(0.75rem, 1.2vw, 1rem);
   }

   &:hover {
      background-color: var(--Orange);
   }
   &:hover p {
      color: var(--Black);
   }

   & svg {
      stroke: var(--White);
      width: 0.6em;
   }

   &:hover .frames {
      padding: 0.3em;
   }

   &:hover .frames svg {
      stroke: var(--Black);
   }
}

.frames {
   pointer-events: none;
   width: 100%;
   height: 100%;
   inset: 0;
   position: absolute;
   display: grid;
   grid-template-columns: 1fr 1fr;
   transform-origin: center;
   transition: 200ms ease-in-out;
   transition-property: padding;

   & div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:nth-child(1) {
         align-items: start;
      }
      &:nth-child(2) {
         align-items: end;
      }
   }

   & svg {
      transition: 200ms ease-in-out;
      transition-property: stroke;
   }
}

.s1 {
   rotate: 0deg;
}
.s2 {
   rotate: -90deg;
}
.s3 {
   rotate: 90deg;
}
.s4 {
   rotate: 180deg;
}

.nav_logo_svg {
   color: var(--White);
   width: clamp(10em, 25vw, 18em);
}

main {
   height: 90vh;
   height: 90svh;
   position: relative;
   border-bottom: solid 0.005em var(--White_Dark);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: clamp(1.2em, 3vw, 2em);
   z-index: 2;
}

.hero_big_title_div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   & h1 {
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: clamp(2.2rem, 9vw, 6rem);
      line-height: 0.8;
      color: var(--White);
   }

   & span h1 {
      color: var(--Orange);
   }
}

.hero_small_title_div p {
   font-family: Aeonik_Medium, Arial, Helvetica, sans-serif;
   font-size: clamp(1.1rem, 2vw, 1.5rem);
   color: var(--White_Light);
   text-align: center;
   width: 70%;
   margin-inline: auto;
}

.hovering_buttons {
   background-color: var(--White);
   padding: clamp(0.8em, 1.5vw, 1em) clamp(2em, 4vw, 3em);
   user-select: none;
   border-radius: 0 0.8em 0 0.8em;
   position: relative;
   overflow: hidden;
   color: var(--Black);
   font-family: PP_Supply_Mono_Regular, Arial, Helvetica, sans-serif;
   font-size: clamp(0.9rem, 1.5vw, 1rem);
   transition: 200ms ease-in-out;
   transition-property: background-color;

   &:hover {
      background-color: var(--Orange);
   }
}

#area2 {
   overflow: auto hidden;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   position: relative;
   border-bottom: solid 0.005em var(--White_Dark);
   z-index: 2;
}

.images_div {
   width: 100%;
   height: fit-content;
   aspect-ratio: 2 / 1.5;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding: 3em;

   &:hover > img {
      border-color: var(--Orange);
   }

   &:hover > .frames {
      padding: 1.5em;
   }

   &:hover > .frames svg {
      stroke: var(--Orange);
      opacity: 1;
   }

   & img {
      border: solid 0.005em var(--White_Dark);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 200ms ease-in-out;
      transition-property: border-color;
   }

   & .frames {
      padding: 2em;
      transition: 200ms ease-in-out;
      transition-property: padding;
   }

   & .frames svg {
      opacity: 0.5;
      stroke: var(--White_Light);
      width: 0.8em;
      transition: 200ms ease-in-out;
      transition-property: stroke, opacity;
   }
}

#area3 {
   height: 90vh;
   height: 90svh;
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
   gap: 2em;

   & p {
      font-family: Aeonik_Medium, Arial, Helvetica, sans-serif;
      font-size: clamp(1.1rem, 2vw, 1.5rem);
      color: var(--White_Light);
      text-align: center;
      width: 70%;
   }
}

.fade_orange_titles {
   background-color: var(--orange_Faded);
   padding: clamp(0.8em, 1.5vw, 1em) clamp(1.5em, 4vw, 3em);
   user-select: none;
   border-radius: 0 0.8em 0 0.8em;
   position: relative;

   & h6 {
      color: var(--Orange);
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: clamp(0.9rem, 1.5vw, 1.2rem);
   }

   & .frames svg {
      stroke: var(--Orange);
      width: 0.7em;
   }
}

.area3_big_title_div {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
}

.orange_texts_shutters_div {
   position: relative;
   width: fit-content;
   height: fit-content;

   & h1 {
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: clamp(2.2rem, 9vw, 6rem);
      line-height: 1;
      color: var(--White);
   }
}

.orange_shutters {
   background-color: var(--Orange);
   position: absolute;
   width: 100%;
   height: 100%;
   bottom: 0;
   z-index: 2;
}

.swiper {
   width: 100%;
   height: 50vh;
   margin-inline: auto;
}

.swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.spacer {
   height: 300vh;
}

@media (width <= 800px) {
   .nav_left {
      display: none;
   }
}

@media (width <= 300px) {
   .nav_logo_svg {
      width: 8em;
   }
}
