*,
*::before,
*::after {
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   text-decoration: none;

   &::selection {
      background-color: var(--Orange);
      color: var(--Black);
   }
}

body,
html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   width: 100%;
   overflow: hidden auto;
   background-color: var(--Black);
}

:root {
   /* Colors */
   --White: #e1e8f1;
   --White_Light: #d3dfee80;
   --White_Dark: #53595e6e;
   --Orange: #f87612;
   --orange_Faded: #f1700e3b;
   --Black: #090909;
   --Black_Light: #090909d0;
   --Black_Lighter: #09090931;
   --Dark_Gray: #191b1e;
}

@font-face {
   font-family: Aeonik_Medium;
   src: url(Font/Aeonik_Medium.ttf);
}
@font-face {
   font-family: Aeonik_Regular;
   src: url(Font/Aeonik_Regular.ttf);
}
@font-face {
   font-family: PP_Supply_Mono_Regular;
   src: url(Font/PP_Supply_Mono_Regular.ttf);
}
@font-face {
   font-family: PP_Supply_Mono_Semibold;
   src: url(Font/PP_Supply_Mono_Semibold.ttf);
}

#overlay {
   position: fixed;
   inset: 0;
   z-index: 99999999;
   mix-blend-mode: darken;
   opacity: 0.15;
   pointer-events: none;
}

#loader_div {
   z-index: 99999;
   position: fixed;
   background-color: var(--Orange);
   inset: 0;
   overflow: hidden;

   & .frames {
      padding: clamp(1em, 3vw, 3em);
   }

   & .frames svg {
      stroke: var(--Black);
      width: clamp(1em, 3vw, 2em);
   }
}

.loader_cross_div {
   width: 100%;
   height: fit-content;
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-between;
   top: 50%;
   transform: translateY(-50%);
   padding-inline: clamp(1em, 3vw, 3em);

   & svg {
      stroke: var(--Black);
      width: clamp(1em, 3vw, 2em);
   }
}

.loader_content {
   width: 100%;
   height: 100%;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;

   & svg {
      color: var(--Black);
      width: 60%;
   }
}

.lines {
   background-color: var(--Black_Lighter);
   position: absolute;
}
.line1 {
   width: 100%;
   height: 0.05vh;
   top: 50%;
}
.line2 {
   height: 100%;
   width: 0.05vh;
   left: 50%;
}

.circle {
   position: absolute;
   border: solid 0.05vh var(--Black_Lighter);
   width: 90vh;
   height: 90vh;
   border-radius: 50%;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

#wrapper {
   width: 100%;
   position: relative;
}

#wrapper_bg {
   pointer-events: none;
   position: absolute;
   inset: 0;
   display: grid;
   grid-template-columns: repeat(4, 1fr);

   & div:not(:last-child) {
      border-right: solid 0.005em var(--White_Dark);
   }
}

#menu {
   overflow: hidden auto;
   background-color: var(--Orange);
   position: fixed;
   top: 0;
   right: -30vw;
   bottom: 0;
   z-index: 999;
   width: 30vw;
   user-select: none;

   & * {
      font-family: PP_Supply_Mono_Regular, Arial, Helvetica, sans-serif;
      color: var(--Black);
      font-size: clamp(0.9rem, 1vw, 1rem);
   }

   & .frames {
      padding: 1em;

      & svg {
         stroke: var(--Black);
         width: 0.8em;
      }
   }
}

.menu_top {
   padding-inline: clamp(1em, 3vw, 2em);
   height: clamp(4em, 10vw, 8em);
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: solid 0.005em var(--Black_Lighter);

   & p {
      margin-left: 50%;
      transform: translateX(-50%);
   }
}

.menu_exit {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5em;
   cursor: pointer;
   border: solid 0.005em var(--Black_Lighter);
   border-radius: 50%;
   position: relative;
   overflow: hidden;

   & svg {
      fill: var(--Black);
      width: clamp(1.2em, 1.5vw, 1.5em);
      height: clamp(1.2em, 1.5vw, 1.5em);
      transition: fill 200ms ease-in-out;
   }

   &::after {
      position: absolute;
      content: "";
      inset: 0;
      background-color: var(--Black);
      z-index: -1;
      border-radius: 50%;
      transform: translateY(100%);
      transition: transform 200ms ease-in-out;
   }

   &:hover::after {
      transform: translateY(0);
   }

   &:hover svg {
      fill: var(--White);
   }
}

.menu_content {
   width: 100%;
   height: calc(100% - 15%);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 1em;
}

.menu_list_div {
   width: 100%;
}

.menu_list {
   width: 100%;
   padding: clamp(1.1em, 2vw, 1.5em);
   display: flex;
   align-items: center;
   justify-content: start;
   gap: 1em;
   border-bottom: solid 0.005em var(--Black_Lighter);
   position: relative;
   overflow: hidden;
   transition: padding-block 200ms ease-in-out;

   &::before {
      position: absolute;
      content: "";
      width: 0.5%;
      background-color: var(--Black);
      z-index: -1;
      transform: translateY(110%);
      transition: transform 200ms ease-in-out;
   }

   &::before {
      inset: 0 auto 0 0;
   }

   &:hover::before {
      transform: translateY(0);
   }

   &:hover {
      padding-block: 2em;
   }
}

.menu_bottom {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   gap: 1em;
   margin-block: 2em;

   & .hovering_buttons {
      width: 100%;
      border: solid 0.005em var(--Black_Lighter);

      &:hover {
         background-color: var(--White);
      }
   }
}

nav {
   position: fixed;
   inset: 0 0 auto 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1em clamp(1em, 4vw, 3em);
   background-color: var(--Black_Light);
   backdrop-filter: blur(15px);
   z-index: 9;
   user-select: none;
   border-bottom: solid 0.005em var(--White_Dark);
}

.nav_frame_links {
   background-color: transparent;
   padding: clamp(0.5em, 1vw, 0.75em) clamp(0.8em, 3vw, 2em);
   position: relative;
   border-radius: 0.2em;
   transition: 200ms ease-in-out;
   transition-property: background-color, color;

   & p {
      color: var(--White);
      font-family: PP_Supply_Mono_Regular, Arial, Helvetica, sans-serif;
      font-size: clamp(0.75rem, 1.2vw, 1rem);
   }

   &:hover {
      background-color: var(--Orange);
   }
   &:hover p {
      color: var(--Black);
   }

   & svg {
      stroke: var(--White);
      width: clamp(0.4em, 1vw, 0.6em);
   }

   &:hover .frames {
      padding: 0.3em;
   }

   &:hover .frames svg {
      stroke: var(--Black);
   }
}

.frames {
   overflow: hidden;
   pointer-events: none;
   width: 100%;
   height: 100%;
   inset: 0;
   position: absolute;
   display: grid;
   grid-template-columns: 1fr 1fr;
   transform-origin: center;
   transition: 200ms ease-in-out;
   transition-property: padding;

   & div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:nth-child(1) {
         align-items: start;
      }
      &:nth-child(2) {
         align-items: end;
      }
   }

   & svg {
      transition: 200ms ease-in-out;
      transition-property: stroke;
   }
}

.s1 {
   rotate: 0deg;
}
.s2 {
   rotate: -90deg;
}
.s3 {
   rotate: 90deg;
}
.s4 {
   rotate: 180deg;
}

.nav_logo_svg {
   color: var(--White);
   width: clamp(10em, 25vw, 18em);
   transition: 200ms ease-in-out;
   transition-property: color;

   &:hover {
      color: var(--Orange);
   }
}

.hamburger_button {
   cursor: pointer;
   overflow: hidden;
}

main {
   height: 90vh;
   height: 90svh;
   position: relative;
   border-bottom: solid 0.005em var(--White_Dark);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: clamp(1.2em, 3vw, 2em);
   z-index: 2;
   padding-top: clamp(5em, 5vw, 2em);

   & .hovering_buttons {
      background-color: var(--White);
      color: var(--Black);

      &:hover {
         background-color: var(--Orange);
      }
   }
}

.hero_big_title_div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   & h1 {
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: clamp(2.2rem, 9vw, 6rem);
      line-height: 0.8;
      color: var(--White);
   }

   & span h1 {
      color: var(--Orange);
   }
}

.hero_small_title_div p {
   font-family: Aeonik_Medium, Arial, Helvetica, sans-serif;
   font-size: clamp(1.1rem, 2vw, 1.5rem);
   color: var(--White_Light);
   text-align: center;
   width: 70%;
   margin-inline: auto;
}

.hovering_buttons {
   padding: clamp(0.8em, 1.5vw, 1em) clamp(2em, 4vw, 3em);
   user-select: none;
   border-radius: 0 0.8em 0 0.8em;
   position: relative;
   overflow: hidden;
   text-align: center;
   font-family: PP_Supply_Mono_Regular, Arial, Helvetica, sans-serif;
   font-size: clamp(0.9rem, 1.5vw, 1rem);
   transition: 200ms ease-in-out;
   transition-property: background-color, border-radius;

   &:hover {
      border-radius: 0.8em 0 0.8em 0;
   }
}

#area2 {
   overflow: auto hidden;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   position: relative;
   border-bottom: solid 0.005em var(--White_Dark);
   z-index: 2;
}

.images_div {
   height: fit-content;
   aspect-ratio: 2 / 1.5;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding: clamp(1.5em, 4vw, 3em);

   &:hover > img {
      border-color: var(--Orange);
   }

   &:hover > .frames {
      padding: 2em;
   }

   &:hover > .frames svg {
      stroke: var(--Orange);
      opacity: 1;
   }

   & img {
      border: solid 0.005em var(--White_Dark);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 200ms ease-in-out;
      transition-property: border-color;
   }

   & .frames {
      padding: clamp(0.2em, 2vw, 2em);
      transition: 200ms ease-in-out;
      transition-property: padding;
   }

   & .frames svg {
      opacity: 0.5;
      stroke: var(--White_Light);
      width: clamp(0.5em, 1vw, 0.8em);
      transition: 200ms ease-in-out;
      transition-property: stroke, opacity;
   }
}

#title_area {
   height: 90vh;
   height: 90svh;
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
   gap: 2em;

   & p {
      font-family: Aeonik_Medium, Arial, Helvetica, sans-serif;
      font-size: clamp(1.1rem, 2vw, 1.5rem);
      color: var(--White_Light);
      text-align: center;
      width: 70%;
   }
}

.fade_orange_titles {
   background-color: var(--orange_Faded);
   padding: clamp(0.8em, 1.5vw, 1em) clamp(1.5em, 4vw, 3em);
   user-select: none;
   border-radius: 0 0.8em 0 0.8em;
   position: relative;

   & h6 {
      color: var(--Orange);
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: clamp(0.9rem, 1.5vw, 1.2rem);
      text-align: center;
   }

   & .frames svg {
      stroke: var(--Orange);
      width: 0.7em;
   }
}

.title_area_big_title_div {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
}

.orange_texts_shutters_div {
   position: relative;
   width: fit-content;
   height: fit-content;

   & h1 {
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: clamp(2.2rem, 9vw, 6rem);
      line-height: 1;
      color: var(--White);
   }
}

.orange_shutters {
   background-color: var(--Orange);
   position: absolute;
   width: 100%;
   height: 100%;
   bottom: 0;
   z-index: 2;
}

#area4 {
   overflow: hidden;
   position: relative;
   background-color: var(--Black);
   z-index: 2;
}

.area4_content {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   position: relative;
}

.area4_boxes {
   height: 90vh;
   height: 90svh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
   gap: 0.5em;

   & svg {
      width: clamp(5em, 5vw, 6em);
   }

   & p {
      text-align: center;
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: clamp(0.9rem, 1vw, 1rem);
      position: absolute;
      top: clamp(2em, 4vw, 4em);
   }

   & h4 {
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: 2rem;
      text-align: center;
      line-height: 1;
      margin-bottom: 0.5em;
   }

   & h6 {
      font-family: Aeonik_Regular, Arial, Helvetica, sans-serif;
      font-size: clamp(1rem, 1vw, 1.2rem);
      width: 90%;
      text-align: center;
      line-height: 1.2;
   }

   &:not(:last-child) {
      border-block: solid 0.005em var(--White_Dark);
      border-right: solid 0.005em var(--White_Dark);
      background-color: var(--Black);

      &:has(p, h4, svg) {
         color: var(--White);
      }

      & h6 {
         color: var(--White_Light);
      }
   }

   &:last-child {
      background-color: var(--Orange);

      &:has(p, h4, h6, svg) {
         color: var(--Black);
      }

      & .hovering_buttons {
         background-color: var(--Black);
         color: var(--White);
         position: absolute;
         bottom: clamp(2em, 4vw, 4em);

         &:hover {
            background-color: var(--White);
            color: var(--Black);
         }
      }

      & *::selection {
         background-color: var(--Black);
         color: var(--White);
      }
   }
}

#area6 {
   height: fit-content;
   overflow: hidden;
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr;
   border-block: solid 0.005em var(--White_Dark);
   z-index: 2;
}

.area6_left {
   background-color: var(--Orange);
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   height: 100svh;
   user-select: none;
   position: relative;

   & .frames {
      padding: 1em;
   }

   & .frames svg {
      stroke: var(--Black);
      width: 0.8em;
   }

   & *::selection {
      background-color: var(--Black);
      color: var(--White);
   }

   & p {
      font-family: PP_Supply_Mono_Regular, Arial, Helvetica, sans-serif;
      color: var(--Black);
      font-size: 1rem;
      position: absolute;

      &:nth-child(1) {
         top: 2em;
      }
      &:nth-child(2) {
         bottom: 2em;
      }
   }
}

.area6_right {
   position: relative;
   height: fit-content;
   background-color: var(--Black);
}

.area6_right_gradient_div {
   width: 100%;
   height: 100vh;
   height: 100svh;
   position: absolute;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   pointer-events: none;
}

.gradients {
   width: 100%;
   height: 15em;

   &:nth-child(1) {
      background-image: linear-gradient(to bottom, var(--Black), transparent);
      transform: translateY(-2%);
   }
   &:nth-child(2) {
      background-image: linear-gradient(to top, var(--Black), transparent);
      transform: translateY(2%);
   }
}

.area6_right_content {
   height: 100vh;
   height: 100svh;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 1em;
   padding-inline: 5em;

   & p {
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: 1rem;
      color: var(--White);
   }

   & h1 {
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: 4rem;
      color: var(--White);
      line-height: 1;
   }

   & h6 {
      font-family: Aeonik_Regular, Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      color: var(--White_Light);
      line-height: 1;
   }
}

.spacer {
   height: 100vh;
}

@media (width <= 1000px) {
   #menu {
      width: 50vw;
      right: -50vw;
   }

   #area2 {
      grid-template-columns: repeat(2, 1fr);
   }

   .images_div:hover .frames {
      padding: clamp(0.2em, 2vw, 2em);
   }

   .area4_content {
      height: fit-content;
      grid-template-columns: 1fr 1fr;
   }

   .area4_boxes {
      height: 70vh;
      height: 70svh;

      &:nth-child(3) {
         border-top: none;
      }
   }
}

@media (width <= 800px) {
   .nav_left {
      display: none;
   }
}

@media (width <= 600px) {
   #menu {
      width: 100vw;
      right: -100vw;
   }

   #area2 {
      grid-template-columns: 1fr;
   }

   .area4_content {
      grid-template-columns: 1fr;
   }

   .area4_boxes {
      border-right: none;

      &:nth-child(2) {
         border-top: none;
      }
   }
}

@media (width <= 400px) {
   .hovering_buttons,
   .fade_orange_titles {
      width: 80%;
   }
}

@media (width <= 300px) {
   .nav_logo_svg {
      width: 8em;
   }
}

@media (height <= 600px) {
   #menu .frames {
      display: none;
   }

   main {
      height: 100vh;
      height: 100svh;
   }
}

@media (height <= 500px) {
   .area4_boxes {
      height: 100vh;
      height: 100svh;
   }
}
