*,
*::before,
*::after {
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   text-decoration: none;

   &::selection {
      background-color: var(--Orange);
      color: var(--Black);
   }
}

body,
html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   width: 100%;
   overflow: hidden auto;
   background-color: var(--Black);
}

:root {
   /* Colors */
   --White: #d3dfee;
   --White_Light: #d3dfee80;
   --White_Dark: #53595e6e;
   --Orange: #f87612;
   --Black: #090909;
   --Black_Light: #0909098c;
}

@font-face {
   font-family: Aeonik_Medium;
   src: url(Font/Aeonik_Medium.ttf);
}
@font-face {
   font-family: Aeonik_Regular;
   src: url(Font/Aeonik_Regular.ttf);
}
@font-face {
   font-family: PP_Supply_Mono_Regular;
   src: url(Font/PP_Supply_Mono_Regular.ttf);
}
@font-face {
   font-family: PP_Supply_Mono_Semibold;
   src: url(Font/PP_Supply_Mono_Semibold.ttf);
}

#overlay {
   position: fixed;
   inset: 0;
   z-index: 99999999;
   mix-blend-mode: multiply;
   opacity: 0.12;
   pointer-events: none;
}

#wrapper {
   width: 100%;
   position: relative;
}

#wrapper_bg {
   pointer-events: none;
   position: absolute;
   inset: 0;
   display: grid;
   grid-template-columns: repeat(3, 1fr);

   & div:not(:last-child) {
      border-right: solid 0.005em var(--White_Dark);
   }
}

nav {
   position: fixed;
   inset: 0 0 auto 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1em clamp(1em, 4vw, 3em);
   background-color: var(--Black);
   z-index: 9;
   border-bottom: solid 0.005em var(--White_Dark);
}

.nav_frame_links {
   background-color: transparent;
   padding: clamp(0.7em, 1vw, 0.8em) clamp(1.2em, 3vw, 2em);
   color: var(--White);
   font-family: PP_Supply_Mono_Regular, Arial, Helvetica, sans-serif;
   font-size: clamp(0.9rem, 1.5vw, 1rem);
   position: relative;
   border-radius: 0.2em;
   transition: 200ms ease-in-out;
   transition-property: background-color, color;

   &:hover {
      background-color: var(--Orange);
      color: var(--Black);
   }

   & svg {
      stroke: var(--White);
   }

   &:hover .frames {
      padding: 0.3em;
   }

   &:hover .frames svg {
      stroke: var(--Black);
   }
}

.frames {
   pointer-events: none;
   width: 100%;
   height: 100%;
   inset: 0;
   position: absolute;
   display: grid;
   grid-template-columns: 1fr 1fr;
   transform-origin: center;
   transition: 200ms ease-in-out;
   transition-property: padding;

   & div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:nth-child(1) {
         align-items: start;
      }
      &:nth-child(2) {
         align-items: end;
      }
   }

   & svg {
      transition: 200ms ease-in-out;
      transition-property: stroke;
      width: 0.6em;
   }
}

.s1 {
   rotate: 0deg;
}
.s2 {
   rotate: -90deg;
}
.s3 {
   rotate: 90deg;
}
.s4 {
   rotate: 180deg;
}

.nav_logo_svg {
   color: var(--White);
   width: clamp(9em, 22vw, 18em);
}

main {
   height: 90vh;
   height: 90svh;
   position: relative;
   border-bottom: solid 0.005em var(--White_Dark);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2em;
   z-index: 2;
}

.hero_big_title_div {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   & h1 {
      font-family: PP_Supply_Mono_Semibold, Arial, Helvetica, sans-serif;
      font-size: clamp(2.2rem, 9vw, 6rem);
      line-height: 0.7;
      color: var(--White);
   }

   & span h1 {
      color: var(--Orange);
   }
}

.hero_small_title_div p {
   font-family: Aeonik_Medium, Arial, Helvetica, sans-serif;
   font-size: clamp(1.1rem, 2vw, 1.5rem);
   color: var(--White_Light);
   text-align: center;
   width: 70%;
   margin-inline: auto;
}

@media (width <= 800px) {
   .nav_left {
      display: none;
   }
}
